.contenedor {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.clase1 {
    width: 200px;
    background-color: rgb(60, 0, 255);
    color: aliceblue;
    text-align: center;
}

.captcha {
    background-color: darkgrey;
    width: 50px;
    text-align: center;
}

.error {
    border: solid red;
    text-align: center;
}