.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.clase1 {
    width: 200px;
    background-color: rgb(60, 0, 255);
    color: aliceblue;
}

.clase2 {
    width: 200px;
    background-color: rgb(4, 63, 63);
    color: aliceblue;
}

.clase3 {
    width: 200px;
    background-color: rgb(175, 39, 134);
    color: rgb(255, 255, 255);
}